@{
    Layout = null;
}
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item">
            <a href="#"><i class="ft-home"></i><span class="menu-title" data-i18n="">Quản lý nhân sự</span><span class="badge badge badge-primary badge-pill float-right mr-2">3</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">
                        Phòng ban
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Chức vụ
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Nhân lực
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Chấm công
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Tiền lương
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Tạm ứng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Thưởng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Phạt
                    </a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-monitor"></i><span class="menu-title" data-i18n="">Quản lý đơn vị sản xuất</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">
                        Danh sách Đơn vị sản xuất
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Cơ cấu nhân lực
                    </a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Quản lý vật tư</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Commodities")">Danh sách vật tư</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Partner")">Nhà cung cấp</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Price")">Bảng giá</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">Quản lý  sản phẩm</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Products")">Danh sách sản phẩm</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-mail"></i><span class="menu-title" data-i18n="">Quản lý định mức</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="@Url.Action("Index","BillOfMaterial")">Danh sách định mức</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","BillOfMaterial")">Hiển thị phân cấp</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","BillOfMaterial")">Định mức tiêu hao</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-message-square"></i><span class="menu-title" data-i18n="">Quản lý kho</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">
                        Danh sách Kho
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Xuất nhập Kho
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Kiểm kê và chốt sổ
                    </a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-check-square"></i><span class="menu-title" data-i18n="">Quản lý điều hành sản xuất</span></a>
            <ul class="menu-content">
                <li>
                    <a href="#"><i class="ft-codepen"></i><span class="menu-title" data-i18n="">Đơn hàng</span></a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="@Url.Action("Index","Contracts")">Danh sách Đơn hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="ft-briefcase"></i><span class="menu-title" data-i18n="">Chi phí sản xuất</span></a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="#">Tính chi phí vật tư</a>
                        </li>
                        <li>
                            <a class="menu-item" href="#">Thống kê chi phí</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Danh sách Kế hoạch
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng cân đối sản lượng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng cân đối sản lượng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Cập nhật sản lượng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng cân đối vật tư
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Cập nhật tiêu hao vật tư
                    </a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-share"></i><span class="menu-title" data-i18n="">Lập kế hoạch sản xuất</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">
                        Danh sách quy trình sản xuất
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Thiết lập chuỗi quy trình
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Duyệt chuỗi quy trình
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Lập kế hoạch dự kiến theo Đơn hàng
                    </a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-plus-square"></i><span class="menu-title" data-i18n="">Thống kê báo cáo</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">
                        Danh sách nhân viên
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng lương tổng hợp
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng lương chi tiết
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Bảng lương theo đơn vị sản xuất
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">Bảng chấm công theo đơn vị sản xuất</a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Tổng hợp kế hoạch sản xuất
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Ttổng hợp sản lượng
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Vật tư theo đơn vị sản xuất
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Tổng hợp vật tư
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Kế hoạch sử dụng vật tư
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Tổng hợp sản phẩm
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Định mức
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Kho
                    </a>
                </li>
                <li>
                    <a class="menu-item" href="#">
                        Sản xuất
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>