@model OEMS.Web.Models.BOM
@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:history.go(-1)">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Quản lý định mức</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Cập nhật thông tin
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Striped row layout section start -->
            <section id="striped-row-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div id="co-ex" class="card-header">
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    @using (Html.BeginForm("Create", "BillOfMaterial", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered", @data_parsley_validate = "", id = "", @role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(x => x.Id)
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-info"></i> Thông tin định mức</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput1">Ngày bắt đầu</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative">
                                                        @*@Html.TextBox("StartDate", "Chọn ngày bắt đầu", new { @Required = "Required", @class = "datepicker form-control" })*@
                                                        @Html.TextBoxFor(x => x.StartDate, "{0:dd/MM/yyyy}", new { @Required = "Required", name = "StartDate", @class = "form-control datepicker", @placeholder = "Chọn ngày bắt đầu" })
                                                        <div class="form-control-position">
                                                            <i class="ft-calendar info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
                                                    <label class="col-md-3 label-control" for="timesheetinput2">Mã thành phẩm</label>
                                                    <div class="col-md-9">
                                                        <div class="position-relative ">
                                                            @Html.DropDownListFor(x => x.Product.Id, Model.GetAllCommodities().Select(n => new SelectListItem { Selected = n.Id == Model.Product?.Id, Text = n.Code, Value = n.Id.ToString() }), "-- Chọn thành phẩm --", new { @class = "form-control", @placeholder = "Chọn loại vật tư" })
                                                            <div class="form-control-position">
                                                                <i class="ft-arrow-down primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput2">Mã sản phẩm</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        @Html.DropDownListFor(x => x.Product.Id, Model.GetAPI().Result.Select(n => new SelectListItem { Selected = n.Id == Model.Product?.Id, Text = n.Code, Value = n.Id.ToString() }), "-- Chọn sản phẩm --", new { @class = "form-control", @placeholder = "Chọn loại sản phẩm" })
                                                        @*@Html.DropDownListFor(x => x.Product.Id, new SelectListItem {Text = "Chọn thành phẩm", Value = "", }, new { @class = "form-control" })*@
                                                        <div class="form-control-position">
                                                            <i class="ft-arrow-down primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput1">Tên định mức</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        @Html.TextBoxFor(x => x.Name, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập tên định mức" })
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput2">Mã định mức</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        @Html.TextBoxFor(x => x.Code, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập mã định mức" })
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control" for="timesheetinput7">Mô tả</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative">
                                                        @Html.TextAreaFor(x => x.Description, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập mô tả" })
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                @*@Html.Hidden()*@
                                                <div id="bomEditable" class="form-group @(!string.IsNullOrEmpty(Model?.Id) ? "show" : "hidden")">
                                                    <h4 class="form-section"><i class="ft-list"></i>Chi tiết định mức</h4>
                                                    @*<table class="table table-striped table-bordered" id="bom-editable-table" name="editable-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã sản phẩm</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Giá thành</th>
                                                                    <th>Ngày tạo</th>
                                                                    <th>Mô tả</th>
                                                                    <th>Chức năng</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Mã sản phẩm</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th>Giá thành</th>
                                                                    <th>Ngày tạo</th>
                                                                    <th>Mô tả</th>
                                                                    <th>Chức năng</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>*@
                                                    <table id="bom-editable-table" name="bom-editable-table" class="table table-striped table-bordered table-highlight table-checkable" data-info="true" data-search="true" data-paginate="true" width="100%"></table>
                                                </div>
                                                @*<div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Mã định mức</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Nhập mã định mức" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Tên định mức</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Nhập tên định mức" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Mã vật tư</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Nhập mã định mức" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Tên vật tư</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Nhập tên định mức" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Số lượng</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Số lượng" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="timesheetinput2">Mô tả</label>
                                                        <div class="col-md-9">
                                                            <div class="position-relative ">
                                                                <input type="text" id="" class="form-control" placeholder="Nhập mô tả" name="projectname">
                                                                <div class="form-control-position">
                                                                    <i class="ft-feather info font-medium-4"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                        <div class="form-actions right">

                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Lưu
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:history.go(-1)">
                                                <i class="ft-x"></i> Hủy
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Striped row layout section end -->
        </div>
    </div>
</div>
<!-- END: Content-->
<script type="text/javascript">
    $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy",
        language: "vi",
        orientation: 'left bottom',
    });
    //console.log(document.getElementById('StartDate').value);
    if (document.getElementById('StartDate').value == '01/01/0001')
        $('.datepicker').datepicker("setDate", 'now');
    //$("#datepicker").datepicker();
    //.datepicker("setDate", 'now');
    //console.log(@Html.Raw(Json.Encode(Model.Detail)));

    $(document).ready(function () {
        var details = @Html.Raw(Json.Encode(Model.Detail));

        if (details != null && details.length > 0) {
            //var tits = ["Id", "SubBOM.Code", "SubBOM.Name", "Material.Code", "Material.Name", "Amount", "Description"];
            //var tits = [{ "Id": ["Id"] }, { "SubBOM": ["Code", "Name"] }, { "Material": ["Code", "Name"] }, { "Amount": ["Amount"] }, { "Description": ["Description"] }];
            

            var tits = ["Id", "SubBOM", "Material", "Amount", "Description"];
            //Get dynmmic column.
            //var dynamicColumns = [];
            var i = 0;
            //$.each(details[0], function (key, value) {
            //    if ($.inArray(key, tits) != -1) {
            //        var obj = { sTitle: key };
            //        dynamicColumns[i] = obj;
            //        i++;
            //    };
            //});
            //console.log(dynamicColumns);

            //fetch all records from JSON result and make row data set.
            var rowDataSet = [];
            //var i = 0;
            //console.log(details[0]);
            for (var ii = 0; ii < details.length; ii++) {
                var item = details[ii];
                var rowData = [];

                $.each(item, function (key, value) {
                    if (key == "Id") {
                        rowData[0] = value;
                    }
                    if (key == "Material") {
                        if (value != null) {
                            rowData[1] = value.Code;
                            rowData[2] = value.Name;
                        }
                        else {
                            rowData[1] = "(N/A)";
                            rowData[2] = "(N/A)";
                        }
                    }
                    if (key == "SubBOM") {
                        if (value != null) {
                            rowData[3] = value.Code;
                            rowData[4] = value.Name;
                        }
                        else {
                            rowData[3] = "(N/A)";
                            rowData[4] = "(N/A)";
                        }
                    }
                    if (key == "Amount") {
                        rowData[5] = value;
                    }
                    if (key == "Description") {
                        rowData[6] = value;
                    }
                });
                rowDataSet[ii] = rowData;
            }
            //$.each(details, function (key, value) {

                //var rowData = [];
                //var j = 0;
                //if (key=="Id") {
                //    rowData[0] = value;
                //}
                //if (key == "Material") {
                //    if (value != null) {
                //        rowData[1] = value.Code;
                //        rowData[2] = value.Name;
                //    }
                //    else {
                //        rowData[1] = "(N/A)";
                //        rowData[2] = "(N/A)";
                //    }
                //}
                //if (key == "SubBOM") {
                //    if (value != null) {
                //        rowData[3] = value.Code;
                //        rowData[4] = value.Name;
                //    }
                //    else {
                //        rowData[3] = "(N/A)";
                //        rowData[4] = "(N/A)";
                //    }
                //}
                //if (key=="Amount") {
                //    rowData[5] = value;
                //}
                //if (key=="Description") {
                //    rowData[6] = value;
                //}
                //$.each(details[i], function (key, value) {
                //    //if ($.inArray(key, tits) != -1) {
                //    if (tits[i) {

                //    }
                //        //console.log(j + " : key: " + key + " : value: " + value);
                //        if (key == "SubBOM") {
                //            if (value != null) {
                //                //console.log(value.Code);
                //                rowData[j] = value.Code;
                //                //rowData[j] = value.Name;
                //            }
                //            else {
                //                rowData[j] = "(N/A)";
                //            }
                //        }
                //        else if (key == "Material") {
                //            if (value != null) {

                //                //console.log(value.Code);
                //                rowData[j] = value.Code;
                //                //rowData[j] = value.Name;
                //            }
                //            else {
                //                rowData[j] = "(N/A)";
                //            }
                //        }
                //        else rowData[j] = value;
                //        j++;
                //    //}
                //});
            //    rowDataSet[i] = rowData;
            //    //console.log("----------------------------------");
            //    i++;
            //});
            console.log(rowDataSet);

            $("#bom-editable-table").dataTable({
                "bDestroy": true,
                "bScrollCollapse": true,
                "bJQueryUI": true,
                "bPaginate": true,
                "sScrollX": "auto",
                "sScrollY": "auto",
                "bInfo": true,
                "bFilter": true,
                "bSort": true,
                "aaData": rowDataSet,
                "responsive": true,
                //"sPaginationType": "numbers",
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                ],
                "aoColumns": [
                    //dynamicColumns,
                    { "sTitle": "Id" },
                    {"sTitle": "Mã vật tư"},
                    { "sTitle": "Tên vật tư" },
                    { "sTitle": "Mã định mức" },
                    { "sTitle": "Tên định mức"},
                    { "sTitle": "Số lượng"},
                    { "sTitle": "Mô tả"},
                    {
                        sTitle: "Chức năng",
                        bSortable: false,
                        mRender: function (data, type, row) {
                            @*var linkEdit = '@Html.ActionLink("Cập nhật", "Create", new {id= -1 })';
                            linkEdit = linkEdit.replace("-1", row[0]);*@
                            var linkEdit = '<a class="btn btn-info" href="/price/create/' + row[0] + '">Cập nhật</a>';

                            //var linkDelete = '@Html.ActionLink("Xóa", "Delete", new {id= -1 })';
                            //linkDelete = linkDelete.replace("-1", row[0]);

                            var linkDelete = "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row[0] + "'); >Xóa</a>"

                            return linkEdit + " | " + linkDelete;
                        }
                    }
                ]
            });
        };

        @*$('#bom-editable-table').DataTable({
            'ajax': {
                "type": "GET",
                "url": "@System.Configuration.ConfigurationManager.AppSettings["base_api"].ToString()commodity/getbyid?id=@(@Model.Product?.Id)&getprices=true",
                "dataSrc": function (res) {
                    //console.log(json);
                    var data = new Array();
                    //for (var i = 0; i < json.Commodity.length; i++) {
                    data.push({
                        'ProductCode': res.Code,
                        'ProductName': res.Name,
                        'Amount': res["Prices"][0].Amount,
                        'StartDate': res["Prices"][0].StartDate,
                        'Description': res.Description,
                        'ProductId': res.Id
                    });
                    //}
                    return data;
                },
                "error": function () {
                    alert("Không truy xuất được dữ liệu Sản phẩm!");
                }
            },
            "columns": [
                { 'data': 'ProductCode' },
                { 'data': 'ProductName' },
                { 'data': 'Amount' },
                {
                    'data': 'StartDate',
                    "render": function (data) {
                        return moment(new Date(data)).format('DD/MM/YYYY');
                    }
                },
                { 'data': 'Description' },
                {// this is Actions Column
                    "mRender": function (data, type, row) {
                        var linkEdit = '@Html.ActionLink("Edit", "Edit", new {id= -1 })';
                        linkEdit = linkEdit.replace("-1", row.ID);

                        var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                        linkDelete = linkDelete.replace("-1", row.ID);

                        return linkEdit + " | " + linkDelete;
                    }
                }
            ]
        });*@
    });
</script> 