@model OEMS.Web.Models.BOM
@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:history.go(-1)">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Quản lý định mức</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Cập nhật thông tin
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Striped row layout section start -->
            <section id="striped-row-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    @*<form class="form form-horizontal striped-rows form-bordered" id="postform">*@
                                    @using (Html.BeginForm("Create", "BillOfMaterial", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered", @data_parsley_validate = "", id = "", @role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(x => x.Id)
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-user"></i> Thông tin định mức</h4>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="timesheetinput1">Loại hàng</label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="timesheetinput1">Tên định mức</label>
                                            <div class="col-md-9">
                                                <div class="position-relative ">
                                                    @*<input type="text" id="txtCode" class="form-control" placeholder="Nhập tên định mức" name="">*@
                                                    @Html.TextBoxFor(x => x.Name, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập tên định mức" })
                                                    <div class="form-control-position">
                                                        <i class="ft-feather info font-medium-4"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="timesheetinput2">Mã định mức</label>
                                            <div class="col-md-9">
                                                <div class="position-relative ">
                                                    @Html.TextBoxFor(x => x.Code, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập mã định mức" })
                                                    <div class="form-control-position">
                                                        <i class="ft-feather info font-medium-4"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="timesheetinput2">Mã thành phẩm</label>
                                            <div class="col-md-9">
                                                <div class="position-relative ">
                                                    @Html.TextBoxFor(x => x.Product.Name, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập tên thành phẩm" })
                                                    <div class="form-control-position">
                                                        <i class="ft-phone primary"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="timesheetinput7">Mô tả</label>
                                            <div class="col-md-9">
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(x => x.Description, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập mô tả" })
                                                    <div class="form-control-position">
                                                        <i class="ft-feather info font-medium-4"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="form-group" style="@(!string.IsNullOrEmpty(Model?.Id) ? "display:block" : "display:none")">
                                            <h4 class="form-section"><i class="ft-clipboard"></i> Thông tin nhà cung cấp</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput2">Mã nhà cung cấp</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        <input type="text" id="" class="form-control" placeholder="Nhập mã cung cấp" name="projectname">
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput2">Tên nhà cung cấp</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        <input type="text" id="" class="form-control" placeholder="Nhập tên cung cấp" name="projectname">
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput2">Giá thành</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative ">
                                                        <input type="text" id="" class="form-control" placeholder="Nhập giá" name="projectname">
                                                        <div class="form-control-position">
                                                            <i class="ft-feather info font-medium-4"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-actions right">

                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Lưu
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:history.go(-1)">
                                                <i class="ft-x"></i> Hủy
                                            </button>
                                        </div>
                                    }
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Striped row layout section end -->
        </div>
    </div>
</div>
<!-- END: Content-->
@*<script type="text/javascript">
        $(document).ready(function () {
            $("#postform").submit(function (e) {
                e.preventDefault();
                var apiurl = "http://113.160.87.222:9876/api/Commodity/Create?Commodity=object";
                var person = new Object();
                person.Code = $("#txtCode").val().trim();
                person.CodeXT = $("#txtCodeXT").val().trim();
                person.Name = $("#txtName").val().trim();
                person.CommodityType = "material";
                $.ajax({
                    url: apiurl,
                    type: 'POST',
                    dataType: 'json',
                    data: person,
                    success: function (d) {
                        alert("Saved Successfully");
                        document.getElementById("postform").reset();
                    },
                    error: function () {
                        alert("Error please try again");
                    }
                });
            });
        });

    </script>*@ 